@using GreenSpecial.Areas.ViewModels;
@model UpdateSettingVM

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div azik class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic form elements</h4>
                        <p class="card-description">
                            Creating Meal
                        </p>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly"></div> 
                            <div class="form-group">
                                <label asp-for="Key" for="exampleInputName1">Key</label>
                                <input asp-for="Key" class="form-control" id="exampleInputName1" placeholder="Key">
                                <span asp-validation-for="Key"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Value" for="exampleInputEmail3">Value</label>
                                <input asp-for="Value" class="form-control" id="exampleInputEmail3" placeholder="Value">
                                <span asp-validation-for="Value"></span>
                            </div> 
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
